* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.intro {
  color: #f55f8d;
  margin-bottom: 20px;
  font-size: 24px;
}
.tittle {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
  text-align: center;
}
.detail {
  font-size: 18px;
  margin-bottom: 20px;
  color: #757575;
}
.s-btn {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
  margin-left: 30px;
}
/* ----------------effect btn hover -------------------  */
.s-btn:hover {
  /*   Khi hover chỉnh vị trí ưu tiên hiển thị của màu nền. 
    Mặc định không xét giá trị cho background-position 
    thì sẽ có giá trị mặc định background-position: left top; 
    */
  background-position: right center;

  color: #fff;
  text-decoration: none;
}
/* ----------------effect hover list menu -------------  */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* animation banner feature */
@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
/* -------------- base -------------------- */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .container {
  width: 1199px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
header .container .s-menu {
  display: flex;
  align-items: center;
}
header .container .s-menu ul {
  display: flex;
  justify-content: center;
}
header .container .s-menu ul li {
  padding: 55px 15px;
}
header .container .s-menu ul li a {
  color: #000;
  font-weight: 500;
  display: inline-block;
  opacity: 0.8;
}
header .container .s-menu ul li:hover a {
  animation: upToDown 0.3s;
  color: #f55f8d;
}
header .container .s-menu ul li i {
  font-size: 10px;
  margin-left: 5px;
}
/* ------------------- banner ------------------ */
.s-banner {
  background-image: url(img/bg17.png);
  background-size: 100%;
  background-position: top;
  /* overflow: hidden; */
}
.s-banner .content {
  width: 60%;
  margin-top: 40px;
}
.s-banner .s-thump {
  width: 40%;
}
.s-banner .carousel {
  display: flex;
  padding-top: 150px;
}
.check {
  display: flex;
  margin-bottom: 20px;
}
.check li {
  font-size: 16px;
  padding-top: 5px;
  color: #757575;
}
.check i {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.s-banner .s-btn {
  margin: 20px 0 0 0;
}
/* ----------------------------- -service --------------  */
.s-service {
  background-image: url(img/bg16.png);
  background-size: 100%;
  margin-top: 100px;
}
.s-service .content {
  text-align: center;
}
.s-service .item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  text-align: center;
  margin: 30px 10px;
  transform: translateY(0);
  transition: 0.5s;
}
.s-service .item:hover {
  transform: translateY(-20px);
}
.s-service .item .detail {
  margin-top: 30px;
}
.s-service .item .tittle {
  font-size: 24px;
}
.s-service .item img {
  width: 70%;
}
.s-service .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------start about-----------  */
.s-about .container-fluid {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-about .thump img {
  width: 105%;
  border-radius: 0 50px 50px 0;
}
.s-about .content {
  margin-left: 100px;
  line-height: 1.5;
}
.s-about .s-btn {
  margin: 20px 0 0 0;
}
/* ------------------ end about ------------  */
/* --------------------start counter--------------  */
.s-counter {
  margin-top: 100px;
  background: url(img/bg14.png) no-repeat;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}
.s-counter .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-counter .item {
  margin: 0 70px;
}
.s-counter .item i {
  font-size: 50px;
  color: #fff;
  width: 80px;
  height: 80px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 50%;
  margin-bottom: 20px;
  padding-top: 15px;
}
.s-counter .intro {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 0;
}
/* -----------start feature---------------  */
.s-feature {
  background: url(img/bg16.png) no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
  color: #000;
}
.s-feature .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-feature img {
  width: 100%;
}
.s-feature .item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  max-width: 550px;
  margin: 30px 0;
  border-radius: 10px;
  position: relative;
  /* z-index:  định nghĩa thứ tự của các thẻ position 
      Mặc định thẻ nào có position và tạo ra trước (theo thứ tự code html từ trên xuống) 
      thì sẽ có index nhỏ hơn thẻ position tạo ra sau
    => để đoạn chữ nằm trên phần after phải xét index lớn hơn after
    */
  transition: 0.5s;
  color: #000;
}
/* tạo lớp giả cho selector item --> tạo linear */
.s-feature .item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  z-index: 1;
}
.s-feature .item:hover::after {
  opacity: 1;
}
.s-feature .item:hover i {
  color: #fff;
  z-index: 99;
}
.s-feature .item:hover .sub-tittle {
  color: #fff;
  z-index: 100;
}
.s-feature .special {
  margin-left: 30px;
}
.s-feature i {
  color: #f55f8d;
  font-size: 80px;
  margin-right: 20px;
}
.s-feature .item .sub-tittle {
  margin: 10px 0;
}
.s-feature .detail {
  font-size: 16px;
}
.s-feature .item::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.s-feature:hover::after {
  opacity: 1;
}

.s-feature .item__container {
  display: flex;
  z-index: 2;
}

.s-feature .item:hover .item__container h3,
.s-feature .item:hover .item__container .detail {
  color: white;
}

.s-porfolio {
  text-align: center;
  margin-top: 100px;
}
.s-feature .thump {
  animation: move 5s alternate infinite;
}
/* ------------start porfolio  */
.s-porfolio .porfolio_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 30px;
}
.s-porfolio .thump {
  width: 100%;
}
.s-porfolio .thump img {
  width: 100%;
  border-radius: 10px;
}
.s-porfolio .item1 {
  grid-column: 1 / span 2;
  height: 100px;
}

.porfolio_content .item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.porfolio_content .item5 {
  grid-column: 1 / span 2;
}
/* ----------------your plan  */
.s-plan .tittle {
  text-align: center;
  margin-top: 100px;
}
.s-plan .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
.s-plan .item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.s-plan .item {
  grid-row: 1 / span 2;
}
/* --------effect hover item  */
.s-plan .item:hover {
  border: 3px dashed #f55f8d;
}
.s-plan .head {
  text-align: center;
}
.s-plan .name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.s-plan .thump img {
  width: 40%;
  margin-bottom: 20px;
}
.s-plan .price {
  margin-bottom: 20px;
  color: #f8ae56;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}
.s-plan .price span {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.s-plan .check i {
  font-size: 16px;
}

/* start testional */
.s-testional {
  margin-top: 100px;
}
.s-testional .detail {
  font-size: 60px;
}
.s-testional .tittle {
  text-align: center;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  min-height: 300px;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}
.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-thumbs::after,
.testimonial-thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 100px 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  position: relative;
}
/* end testional */
/* -----------start blog  */
.s-blog {
  margin-top: 100px;
}
.s-blog .thump {
  position: relative;
}
.s-blog .thump .day {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.s-blog .detail {
  font-size: 70px;
}
.s-blog .content .tittle {
  font-size: 24px;
  margin-top: 20px;
  text-align: left;
}
.s-blog .content .detail {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.s-blog .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-blog .item {
  margin: 0 10px;
  border-radius: 10px;
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
}
.s-blog .item .content {
  padding: 10px;
}
.s-blog .item img {
  width: 100%;
  border-radius: 10px;
}
.s-blog .item .footer {
  display: flex;
  justify-content: space-between;
}
/* -----------end blog  */
/* -----------footer  */
footer {
  margin-top: 100px;
  background-image: url(/img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(/img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(/img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form,
.footer__text {
  width: 50%;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__item {
  width: 25%;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item li {
  padding: 0.5rem 0;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer__item h3::before {
  width: 50px;
}
.footer__item h3::after,
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

/* ----------end footer  */
